@model List<CQRS.Contract.Share.DTO.GetProxyDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<p>
    <a asp-action="UploadProxy">Upload proxy</a>
</p>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ip</th>
                <th scope="col">Port</th>
                <th scope="col">User</th>
                <th scope="col">Password</th>
                <th scope="col">IsStatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proxy in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@proxy.Ip</td>
                    <td>@proxy.Port</td>
                    <td>@proxy.User</td>
                    <td>@proxy.Password</td>
                    <td>@proxy.IsStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>